.group-form__add-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    aspect-ratio: 1 / 1;

    border: 1px solid lightgray;
    border-radius: var(--border-radius);

    background-color: white;
}
