.group-form__add-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    aspect-ratio: 1 / 1;

    border: 1px solid lightgray;
    border-radius: var(--border-radius);

    background-color: white;
}

.group-form__delete-button {
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: auto;
}

.group-form__row:hover .group-form__delete-button {
    opacity: 1;
    cursor: pointer;
}
