:root {
    --border-radius: 0.5rem;
    --on-hover-white: #f3f3f3;
}

.group-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: fit-content;
    box-sizing: border-box;
}

.group-form__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    width: 100%;
    height: 100%;

    border: 1px solid lightgray;
    border-radius: var(--border-radius);

    padding: 0.6rem 1.2rem;

    cursor: pointer;

    box-sizing: border-box;

    transition: all 0.2s ease-in-out;
}

.group-form__row * {
    background-color: transparent;
}

.group-form__header {
    flex-direction: column;
    cursor: auto;
    align-items: flex-start;
    justify-content: center;
}

.group-form__row:hover {
    background-color: var(--on-hover-white);
}

.group-form__text-input {
    height: 100%;
    border: none;
}

.group-form__text-input:focus {
    outline: none;
}

.group-form__text-input:focus::placeholder {
    color: transparent;
}

.group-form__add-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    aspect-ratio: 1 / 1;

    border: 1px solid lightgray;
    border-radius: var(--border-radius);

    background-color: white;
}

.group-form__submit-button {
    width: 100%;
}