.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;

    box-sizing: border-box;
}

.title {
    text-align: left;
    color: var(--secondary-color);
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    transition: all 0.2s ease-in-out;

    background-color: var(--accent-background-color);

    border-radius: var(--border-radius);

    font-size: 2rem;
}

.wrapper:hover {
    background-color: var(--third-background-color);
}

.wrapper * {
    background-color: transparent;
}

.wrapper.bordered {
    border: 1px solid var(--outline);
}

.wrapper.borderless {
    border: none;
}

.input {
    height: 100%;
    width: 100%;
    border: none;
    text-overflow: ellipsis;
    color: var(--color);
    padding: calc(0.6rem * 2) calc(1.2rem * 2);
    background-color: transparent;

    box-sizing: border-box;
}

.input:hover {
    background-color: transparent;
}

.input::placeholder {
    color: var(--secondary-color);
}

.input:focus {
    outline: none;
}

.input:focus::placeholder {
    color: transparent;
}

.input.header {
    font-weight: 600;
    font-size: 1.5rem;
    /*color: #404040;*/
}

.mandatory {
    color: #e5484d;
    font-weight: 600;
}