.home__container {
  padding: 10vh 10vw;
  box-sizing: border-box;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__container button {
  margin: 1rem 0;
}
