.group-form__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-form__delete-button {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.2s ease;
    opacity: 0;
    cursor: auto;

    padding: 0;

    background-color: transparent;
    outline: none;
    border: 0;
}

.group-form__row:hover .group-form__delete-button, .group-form__delete-button:focus {
    opacity: 1;
    cursor: pointer;

    background-color: transparent;
    outline: none;
    border: 0;
}
